.serviceBox {
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 20em;
}
.serviceBox:hover {
  border-bottom: 10px solid #00a8ff;
  position: relative;
  margin-top: -10px;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 576px) {
  .serviceBox {
    position: none;
  }
}
